<?xml version="1.0" encoding="UTF-8"?>
<lcarswm>
    <key-config>
        <!-- keys for executing programs -->
        <binding>
            <keys>Lin+T</keys>
            <exec>xterm</exec>
        </binding>
        <binding>
            <keys>Lin+B</keys>
            <exec>firefox</exec>
        </binding>
        <binding>
            <keys>XF86AudioMute</keys>
            <exec>amixer set Master toggle</exec>
        </binding>
        <binding>
            <keys>XF86AudioRaiseVolume</keys>
            <exec>amixer set Master 3%+</exec>
        </binding>
        <binding>
            <keys>XF86AudioLowerVolume</keys>
            <exec>amixer set Master 3%-</exec>
        </binding>

        <!-- Window manager action keys ... only edit the following when you know what you're doing -->
        <binding>
            <keys>Alt+Tab</keys>
            <action>window-toggle-forward</action>
        </binding>
        <binding>
            <keys>Alt+Shift+Tab</keys>
            <action>window-toggle-forward</action>
        </binding>
        <binding>
            <keys>Alt+Lin+Up</keys>
            <action>window-move-up</action>
        </binding>
        <binding>
            <keys>Alt+Lin+Down</keys>
            <action>window-move-down</action>
        </binding>
        <binding>
            <keys>Alt+F4</keys>
            <action>window-close</action>
        </binding>
        <binding>
            <keys>Lin+M</keys>
            <action>screen-mode-toggle</action>
        </binding>
        <binding>
            <keys>Lin+Q</keys>
            <action>lcarswm-quit</action>
        </binding>
    </key-config>
    <general>
        <title>LCARS</title><!-- Will be shown when there's no title image -->
        <!--<title-image>/usr/share/pixmaps/lcarswm.xpm</title-image>-->
        <font>Ubuntu Condensed</font>
    </general>
</lcarswm>
