Source: lcarswm
Maintainer: Andreas Tennert <lcarsde@andreas-tennert.de>
Section: x11
Priority: optional
Standards-Version: 4.5.0
Build-Depends: debhelper (>= 9), default-jdk-headless | default-jdk, libx11-dev, libxpm-dev, libxrandr-dev, libpango1.0-dev, libxml2-dev, libtinfo6

Package: lcarswm
Architecture: any
Depends: libx11-6, libxpm4, libxrandr2, libpango1.0-0, libpangoxft-1.0-0, libxml2, python3, python3-gi
Recommends: fonts-ubuntu, xterm, firefox, alsa-utils
Suggests: x-display-manager, kdm | gdm
Provides: x-window-manager
Description: A simple window manager that looks like the LCARS interface
 https://lcarsde.github.io
